.img_formula {
    background: url('Image/formula.jpg');
    height: 100px;
    max-width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: crisp-edges;
}