<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      lab 1
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>
      Made by Sofia Hrishina KN-31
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Zavdannya #2
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <p class="p_background2">Підрахуйте добуток
          цілих чисел на
          заданому проміжку
          чисел [a,b], парних і
          кратних 8.</p>
      </ion-item>
      <ion-item>
        <ion-label positon="floating">First number </ion-label>
        <ion-input type="number" id="a" value="1" #Inputa></ion-input>
      </ion-item>
      <ion-item>
        <ion-label positon="floating">Second number </ion-label>
        <ion-input type="number" id="b" value="2" #Inputb></ion-input>
      </ion-item>
      <ion-item>
        <ion-button (click)="calculate(Inputa.value,Inputb.value)" expand="block">Calculate</ion-button></ion-item>
      <ion-item>
        <p>The product of even and multiple of 8 numbers in the range [{{a}}, {{b}}] is {{c}}</p>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>
      Laboratorna 1
    </ion-title>
  </ion-toolbar>
</ion-footer>