<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slor="start">
      <ion-menu-button color="dark" menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title size="large" color="primary">Лабораторні роботи</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>
      lab 1
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>
      Made by Sofia Hrishina KN-31
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
<ion-card-header>
<ion-card-title>
  Zavdannya #1
</ion-card-title>
</ion-card-header>
<ion-card-content>
  <p class="p_background">Задано три числа.
    Якщо всі вони парні,
    то знайти їх добуток.
    В іншому випадку –
    квадрат суми</p>
  <ion-item>
    <ion-label positon="floating">First number </ion-label>
    <ion-input type="number" id="a" value="1" #Inputa></ion-input>
  </ion-item>
  <ion-item>
    <ion-label positon="floating">Second number </ion-label>
    <ion-input type="number" id="b" value="2" #Inputb></ion-input>
  </ion-item>
  <ion-item>
    <ion-label positon="floating">Third number </ion-label>
    <ion-input type="number" id="c" value="3" #Inputc></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="ras(Inputa.value,Inputb.value,Inputc.value)">Calculate</ion-button>
  <ion-item>
    <p>Results The product of the numbers is / The square of the sum is {{d}}</p>
  </ion-item>
</ion-card-content>
</ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>
      Laboratorna 1
    </ion-title>
  </ion-toolbar>
</ion-footer>