<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Лабораторна робота №1
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>
      Made by Sofia Hrishina Kn-31
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      Zavdanya#3
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <p class="p_background">
          Згенерувати матрицю
          розміром NxN. Знайти
          добуток кожного
          стовпчику матриці.
          Виокремити
          стовпчики за
          допомогою кольору
        </p>
      </ion-item>
      <ion-item>
        <ion-label position="floating">N</ion-label>
        <ion-input type="number" id="a" value="3" #Inputn></ion-input>
      </ion-item>
      <ion-item>
        <ion-button expand="block" (click)="arrays(Inputn.value)">Сформувати масив</ion-button>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ng-container *ngFor="let i of a">
            <ion-row>
              <ion-col *ngFor="let j of i" [ngStyle]="{'background-color': colors[i.indexOf(j)]}">{{j}}</ion-col>
            </ion-row>
          </ng-container>
          <ng-container *ngIf="columnProducts.length">
            <ion-row>
              <p *ngFor="let product of columnProducts">Product of column {{columnProducts.indexOf(product)}} : {{product}}</p>
            </ion-row>
          </ng-container>
        </ion-grid>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
