<ion-header>
  <ion-toolbar>
    <ion-title>file</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Лабораторна №3
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>Читання даних з файлу JSON</ion-text>
      <ion-item>
        <ion-label position="floating">Задайте кількість викладачів</ion-label>
        <ion-input type="number" id="b" value="2" #Inputb></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="load()">Read File</ion-button>
      <ion-item>
        <ion-list>
          <ion-item button *ngFor="let item of data_cafedra; let i = index" detail (click)="toggleDetails(i)">
            <ion-label *ngIf="!showDetails[i]" text-wrap>
              <p [ngStyle]="{color: getRedcolor(item.number_lecturer, Inputb.value || 0)}">
                <span>Назва кафедри: </span> {{ item.name }} 
                <span>Завідувач кафедри: </span> {{ item.head }}
                <span>Кількість викладачів: </span> {{ item.number_lecturer}}
              </p>
            </ion-label>
            <ion-text *ngIf="showDetails[i]">
              <h2>Адреса: </h2> {{ item.adress.country }} {{ item.adress.city }} {{ item.adress.street }} 
            <!--  <h2>Місто: </h2>{{item.adress.city}}
              <h2>Вулиця: </h2>{{item.adress.street}} -->
            </ion-text>
          </ion-item>
        </ion-list>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>